/third_party/resources/.cargo/
/third_party/resources/vendor/
/debian/.debhelper/
/debian/gnozzard/
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper
/debian/*.substvars
/third_party/resources/build/
/third_party/resources/target/
/dist/
__pycache__/
*.py[cod]
*.build
*.buildinfo
*.changes
*.deb
*.dsc
*.tar.*
