[Desktop Entry]
Type=Application
Name=Gnozzard
Comment=Configure the Gnozzard desktop
Exec=/usr/bin/gnozzard-settings
Icon=preferences-system-symbolic
Terminal=false
Categories=Settings;
Keywords=GNOME;taskbar;desktop;tray;extensions;
StartupNotify=true
