[Desktop Entry]
Type=Application
Name=Gnozzard
Comment=Configure the Gnozzard desktop
Exec=/usr/bin/gnozzard-settings
Icon=/usr/share/gnozzard/logo.png
Terminal=false
Categories=Settings;
Keywords=GNOME;taskbar;desktop;tray;extensions;
StartupNotify=true
